

.nav {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 80px;
  margin-top: 0;
  color: aliceblue;
}


.productContainer {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
